.root {
  fill: hsl(var(--react-bumps-chart-foreground));
}

.highlight {
  fill: hsl(var(--react-bumps-chart-highlight));
  font-weight: 600;
}

.blades {
  fill: hsl(var(--react-bumps-chart-blades));
  font-weight: 600;
}
