.root {
  fill: hsl(var(--react-bumps-chart-foreground));
}

.highlight {
  fill: hsl(var(--react-bumps-chart-highlight));
  font-variation-settings: 'GRAD' 150;
}

.blades {
  fill: hsl(var(--react-bumps-chart-blades));
  font-variation-settings: 'GRAD' 150;
}
