:root {
  --react-bumps-chart-divisions-text-fill: hsl(149 21% 61%);
}

.root {
  width: 100%;
}

.container {
  fill: none;
  stroke: lightgrey;
}

.zebraStripe {
  fill: lightgray;
  fill-opacity: 0.35;
}

.crewStart {
  text-anchor: end;
}

.crewStart.blades {
  fill: red;
}

.numberStart {
  fill: gray;
  text-anchor: start;
}

.crewFinish {
  text-anchor: start;
}

.crewFinish.blades {
  fill: red;
}

.numberFinish {
  fill: gray;
  text-anchor: end;
}

.division {
  fill: var(--react-bumps-chart-divisions-text-fill);
  text-anchor: middle;
}

.lines {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
}

.lines .blades {
  stroke: red;
  stroke-width: 2px;
}

text {
  font-family: Arial;
}
