.border {
  stroke: hsl(var(--react-bumps-chart-foreground));
}

.line {
  stroke: hsl(var(--react-bumps-chart-foreground));
}

.skipped {
  stroke: hsl(var(--react-bumps-chart-muted-foreground));
}

.withdrawn {
  fill: hsl(var(--react-bumps-chart-foreground));
}

.highlight {
  stroke: red;
  stroke-width: 2;
}
